.mainContainer {
  min-width: 860px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

.navigationBar {
  width: 100%;
  background-color: #7c7c7c;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.navigationBar button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 18px;
}

.navigationBar .logoutBtn {
  border: 1px solid white;
  padding: 12px;
  border-radius: 8%;
}
